@using Microsoft.AspNetCore.Components.Forms
@inherits Yolsh_v4.Client.Components.CLI.BlazorConsoleComponent

<div id="console">
    <div id="header">
        <h4>@Name</h4>
        @if (ShowDate)
        {
            <h5>$|<span class="system-yellow">System~</span>> @System.DateTimeOffset.Now.ToString("dd MMMM yyyy HH:mm:ss \"GMT\"zzz", System.Globalization.CultureInfo.InvariantCulture)</h5>
        }
        <h5>$|<span class="system-yellow">System~</span>> @Description @Version()</h5>
        @if (Description2 != "")
        {
            <h5>$|<span class="system-yellow">System~</span>> @Description2</h5>
        }
    </div>
    <div class="container">
        <code>@((MarkupString)Output)</code>
        <EditForm OnValidSubmit="Execute" autocomplete="off" Model="Command" novalidate>
            <div id="input-line" class="input-line">
                <div class="prompt">
                    $|<span class="user-red">Yolsh~</span>>
                </div>
                <div>
                    <InputText id="commandline" autocomplete="off" Class="cmdline" disabled="@Disabled" placeholder="@Placeholder" @bind-Value="@Command.Text" onkeydown="scrollDown()"/>
                </div>
            </div>
        </EditForm>
    </div>
    <div style="height: 100px;" />
</div>

@code {
}

